body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #777777;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  padding: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
.header-nav-bar {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  font-family: 'Poppins';
}
.header-nav-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  z-index: -1;
}
.cover.active {
  opacity: 0.9;
  z-index: 100;
}
.main-content {
  position: relative;
  font-family: 'Poppins';
}
.background-item {
  position: relative;
  bottom: 100px;
  z-index: -1;
}
.background-item img {
  max-width: 100%;
  width: 100%;
  height: 950px;
}
.background .background-content-inner {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20%;
  left: 24%;
  justify-content: space-between;
}
.background .background-text {
  transform: translate(-16%, 10%);
}
.background .background-text .background-title {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
}
.background .background-text .background-summary {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.background .background-text p {
  width: 532px;
  height: 60px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
.background .background-text .slide-btn {
  margin-top: 55px;
  width: 170px;
  height: 50px;
  background-color: rgba(221, 47, 49, 0);
  border: 1px solid #ffffff;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}
.info {
  transform: translate(0, -40%);
}
.info p {
  text-align: center;
}
.info .item1 {
  max-width: 390px;
  width: 100%;
  height: 250px;
}
.info .item2 {
  max-width: 390px;
  width: 100%;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info .item3 {
  max-width: 390px;
  width: 100%;
  height: 250px;
}
.info .item3 img {
  width: 100%;
}
.info .item4 {
  max-width: 390px;
  width: 100%;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info .item5 {
  max-width: 390px;
  width: 100%;
  height: 250px;
}
.info .item5 img {
  width: 100%;
}
.info .item6 {
  max-width: 390px;
  width: 100%;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product .ui-widget-content {
  border: none;
  background-color: #fff;
  padding: 0;
}
.product .ui-widget-content .ui-state-default {
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Poppins";
}
.product .ui-widget-content .ui-widget-header {
  background-color: #fff;
}
.product .ui-widget-content .ui-widget-header .ui-state-default {
  background-color: #fff;
}
.product .ui-widget-content .ui-tabs-nav {
  border: 0;
}
.product .ui-widget-content .ui-tabs-panel {
  padding: 0;
}
.product .ui-widget-content .row {
  margin: 0 -15px;
}
.product .ui-widget-content .list1 .strengh-item .item-img img,
.product .ui-widget-content .list2 .strengh-item .item-img img {
  width: 100%;
  height: unset;
}
.product .ui-widget-content .ui-state-active {
  border: none;
  border-bottom: 2px solid #dd2f31;
}
.product .ui-widget-content .ui-state-active a {
  color: #dd2f31;
}
.product .ui-widget-content .ui-tabs-nav {
  padding: 0;
  border-bottom: 1px solid #ddd;
}
.product .ui-widget-content .ui-tabs-nav li {
  border-bottom-width: 2px;
}
.product .list1 {
  margin-top: 30px;
  margin-bottom: 40px;
}
.product .list1 .strengh {
  display: flex;
  align-items: center;
}
.product .list1 .strengh-item {
  cursor: pointer;
  transition: all 0.25s;
  margin-bottom: 47px;
  text-align: center;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .list1 .strengh-item .item-hover {
  position: relative;
}
.product .list1 .strengh-item .item-hover .cart {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 12%;
  right: 7%;
  transform: translate(-10%, -10%);
  z-index: 2;
  transition: all 0.3s;
}
.product .list1 .strengh-item .item-hover .cart .cart-items {
  border: 1px solid #777777;
  width: 34px;
  height: 34px;
  margin-bottom: 14px;
  align-items: center;
  border-radius: 10px 0 10px 0;
  display: flex;
  transition: all 0.3s;
  color: #777777;
}
.product .list1 .strengh-item .item-hover .cart .cart-items svg {
  width: 15px;
  margin-left: 10px;
}
.product .list1 .strengh-item .item-hover .cart .cart-items:hover {
  background-color: #dd2f31;
  color: #ffffff;
}
.product .list1 .strengh-item .item-hover:hover {
  filter: drop-shadow(0 0 2.5px 2.5 rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.product .list1 .strengh-item .item-hover:hover .cart {
  display: block;
}
.product .list1 span {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.product .list1 p {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}
.product .list2 {
  margin-bottom: 120px;
}
.product .list2 .strengh {
  display: flex;
  align-items: center;
}
.product .list2 .strengh-item {
  cursor: pointer;
  transition: all 0.25s;
  border: 1px solid #ffffff;
  margin-bottom: 47px;
  text-align: center;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product .list2 .strengh-item .item-hover {
  position: relative;
}
.product .list2 .strengh-item .item-hover .cart {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 12%;
  right: 7%;
  transform: translate(-10%, -10%);
  z-index: 2;
  transition: all 0.3s;
}
.product .list2 .strengh-item .item-hover .cart .cart-items {
  border: 1px solid #777777;
  width: 35px;
  height: 35px;
  margin-bottom: 14px;
  align-items: center;
  text-align: center;
  border-radius: 10px 0 10px 0;
  display: flex;
  transition: all 0.3s;
  color: #777777;
}
.product .list2 .strengh-item .item-hover .cart .cart-items svg {
  width: 15px;
  margin-left: 10px;
}
.product .list2 .strengh-item .item-hover .cart .cart-items:hover {
  background-color: #dd2f31;
  color: #ffffff;
}
.product .list2 .strengh-item .item-hover:hover {
  filter: drop-shadow(0 0 2.5px 2.5 rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.product .list2 .strengh-item .item-hover:hover .cart {
  display: block;
}
.product .list2 span {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}
.product .list2 p {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}
.slider {
  transform: translate(30%, 0);
  margin-bottom: 90px;
  text-align: center;
  width: 770px;
}
.slider .img-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .img-slider img {
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
}
.slider h2 {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.slider h3 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.slider p {
  width: 771px;
  height: 45px;
  font-size: 18px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
  text-align: center;
}
.slider .dot {
  display: flex;
  flex-direction: row;
  margin-left: 360px;
}
.slider .dot div {
  margin-right: 10px;
}
.end hr {
  margin-top: 90px;
}
.end .logo {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.end .logo div {
  width: 110px;
  height: 70px;
}
.end .logo div img {
  width: 100%;
}
.footer {
  margin-top: 30px;
  font-family: "Poppins";
}
.footer .head-footer {
  height: 670px;
  background-color: #222222;
}
.footer .head-footer .child1 {
  text-align: center;
}
.footer .head-footer .child1 .footer__slogan-logo img {
  margin-top: 64px;
}
.footer .head-footer .child1 .footer__slogan-content {
  max-width: 748px;
  color: #777777;
  line-height: 1.714;
  font-size: 14px;
  padding: 25px 0;
  margin: 0 auto;
}
.footer .head-footer .child1 .footer-icon {
  margin-bottom: 50px;
  justify-content: center;
}
.footer .head-footer .child1 .footer-icon img {
  margin: 14px 15px;
  font-size: 18px;
  padding-left: 14px;
}
.footer .head-footer .child2 {
  margin-top: 70px;
}
.footer .head-footer .child2 .row {
  justify-content: space-around;
}
.footer .head-footer .child2 .contact,
.footer .head-footer .child2 .account,
.footer .head-footer .child2 .information,
.footer .head-footer .child2 .link {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.667;
  font-weight: bold;
}
.footer .head-footer .child2 .contact .title,
.footer .head-footer .child2 .account .title,
.footer .head-footer .child2 .information .title,
.footer .head-footer .child2 .link .title {
  margin-bottom: 22px;
}
.footer .head-footer .child2 .contact a,
.footer .head-footer .child2 .account a,
.footer .head-footer .child2 .information a,
.footer .head-footer .child2 .link a {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 2.5;
  margin: 14px 0;
}
.footer .head-footer .child2 .contact a:hover,
.footer .head-footer .child2 .account a:hover,
.footer .head-footer .child2 .information a:hover,
.footer .head-footer .child2 .link a:hover {
  color: #a8969652;
}
.footer .head-footer .child2 .contact svg,
.footer .head-footer .child2 .account svg,
.footer .head-footer .child2 .information svg,
.footer .head-footer .child2 .link svg {
  width: 14px;
  margin-right: 11px;
  font-size: 16px;
  color: #777777;
}
.footer .end-footer {
  height: 50px;
  background-color: #111111;
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  font-weight: 400;
  text-align: center;
}
@media all and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  .container {
    max-width: 768px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .slider {
    transform: translate(10%);
  }
  .header-nav-bar a {
    display: none;
  }
}
@media all and (max-width: 576px) {
  body,
  html {
    overflow-x: hidden;
  }
  .background p {
    display: none;
  }
  .slider-content p {
    display: none;
  }
  .footer hr {
    display: none;
  }
  .footer .head-footer .child2 div {
    display: none;
  }
}
