body {
  margin: 0;
  padding: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #777777;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  padding: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
.header-nav-bar {
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  position: fixed;
  font-family: 'Poppins';
}
.header-nav-bar .menu_mobile {
  display: none;
}
.header-nav-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}
.header-nav-bar nav .header_nav ul {
  display: flex;
  font-size: 16px;
  list-style: none;
}
.header-nav-bar nav .header_nav ul li {
  margin-right: 54px;
}
.header-nav-bar nav .header_logo ul {
  display: flex;
  font-size: 16px;
  list-style: none;
}
.header-nav-bar nav .header_logo li {
  margin-right: 30px;
}
.cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  z-index: -1;
}
.cover.active {
  opacity: 0.9;
  z-index: 100;
}
.main-content {
  font-family: 'Poppins';
}
.main-content .background {
  position: relative;
}
.main-content .background-item img {
  max-width: 100%;
  width: 100%;
  min-height: 950px;
}
.main-content .background .background-content {
  position: absolute;
  top: 50.5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -56.5%);
}
.main-content .background .background-content .background-text {
  padding-bottom: 10px ;
}
.main-content .background .background-content .background-text .background-title {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
}
.main-content .background .background-content .background-text .background-summary {
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.main-content .background .background-content p {
  max-width: 532px;
  height: 60px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
}
.main-content .background .background-content .slide-btn {
  margin-top: 55px;
  width: 170px;
  height: 50px;
  background-color: rgba(221, 47, 49, 0);
  border: 1px solid #ffffff;
  font-size: 14px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}
.main-content .info {
  transform: translate(0, -80px);
}
.main-content .info h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.main-content .info p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-weight: 400;
  margin: 0 30px;
}
.main-content .info .row1,
.main-content .info .row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-content .info .item1 {
  max-width: 390px;
  width: 100%;
  height: 250px;
}
.main-content .info .item1 img {
  width: 100%;
  height: 100%;
}
.main-content .info .item2 {
  max-width: 390px;
  width: 100%;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .info .item3 {
  max-width: 390px;
  width: 100%;
  height: 250px;
}
.main-content .info .item3 img {
  width: 100%;
  height: 100%;
}
.main-content .info .item4 {
  max-width: 390px;
  width: 100%;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .info .item4 img {
  margin-bottom: 10px;
}
.main-content .info .item5 {
  max-width: 390px;
  width: 100%;
  height: 250px;
}
.main-content .info .item5 img {
  width: 100%;
  height: 100%;
}
.main-content .info .item6 {
  max-width: 390px;
  width: 100%;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .product {
  margin-top: 8px;
}
.main-content .product .ui-widget-content {
  font-family: "Poppins";
  border: none;
  background-color: #fff;
  padding: 0;
}
.main-content .product .ui-widget-content .ui-state-default {
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins";
}
.main-content .product .ui-widget-content .ui-widget-header {
  background-color: #fff;
}
.main-content .product .ui-widget-content .ui-widget-header .ui-state-default {
  background-color: #fff;
}
.main-content .product .ui-widget-content .ui-tabs-nav {
  border: 0;
}
.main-content .product .ui-widget-content .ui-tabs-panel {
  padding: 0;
}
.main-content .product .ui-widget-content .row {
  margin: 0 -15px;
}
.main-content .product .ui-widget-content .list1 .strengh-item .item-img img,
.main-content .product .ui-widget-content .list2 .strengh-item .item-img img {
  width: 100%;
  height: unset;
}
.main-content .product .ui-widget-content .ui-state-active {
  border: none;
  border-bottom: 2px solid #dd2f31;
}
.main-content .product .ui-widget-content .ui-state-active a {
  color: #dd2f31;
}
.main-content .product .ui-widget-content .ui-tabs-nav {
  padding: 0;
  border-bottom: 1px solid #ddd;
}
.main-content .product .ui-widget-content .ui-tabs-nav li {
  border-bottom-width: 2px;
}
.main-content .product .list1 .strengh {
  display: flex;
  align-items: center;
}
.main-content .product .list1 .strengh-item {
  cursor: pointer;
  transition: all 0.25s;
  margin-bottom: 47px;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .product .list1 .strengh-item .item-hover {
  margin-top: 40px;
  padding-left: 10px;
  padding-bottom: 34px;
  padding-top: 10px;
  position: relative;
}
.main-content .product .list1 .strengh-item .item-hover .item-content {
  padding-left: 18px;
  padding-bottom: 14px;
  padding-top: 4px;
}
.main-content .product .list1 .strengh-item .item-hover .cart {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 12%;
  right: 7%;
  transform: translate(-10%, -10%);
  z-index: 2;
  transition: all 0.3s;
}
.main-content .product .list1 .strengh-item .item-hover .cart .cart-items {
  border: 1px solid #dddddd;
  width: 34px;
  height: 34px;
  margin-bottom: 14px;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(221, 47, 49, 0);
  display: flex;
  transition: all 0.3s;
  color: #777777;
}
.main-content .product .list1 .strengh-item .item-hover .cart .cart-items i {
  padding-left: 8px;
}
.main-content .product .list1 .strengh-item .item-hover .cart .cart-items svg {
  width: 15px;
  margin-left: 10px;
}
.main-content .product .list1 .strengh-item .item-hover .cart .cart-items:hover {
  background-color: #dd2f31;
  color: #ffffff;
}
.main-content .product .list1 .strengh-item .item-hover:hover {
  filter: drop-shadow(0 0 2.5px 2.5 rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.main-content .product .list1 .strengh-item .item-hover:hover .cart {
  display: block;
}
.main-content .product .list1 span {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}
.main-content .product .list1 p {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
}
.main-content .product .list2 .strengh {
  display: flex;
  align-items: center;
}
.main-content .product .list2 .strengh-item {
  cursor: pointer;
  transition: all 0.25s;
  border: 1px solid #ffffff;
  margin-bottom: 26px;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-content .product .list2 .strengh-item .item-hover {
  padding-left: 10px;
  padding-bottom: 54px;
  position: relative;
}
.main-content .product .list2 .strengh-item .item-hover .item-content {
  padding-left: 18px;
  padding-bottom: 14px;
}
.main-content .product .list2 .strengh-item .item-hover .cart {
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 12%;
  right: 7%;
  transform: translate(-10%, -10%);
  z-index: 2;
  transition: all 0.3s;
}
.main-content .product .list2 .strengh-item .item-hover .cart .cart-items {
  border: 1px solid #dddddd;
  width: 34px;
  height: 34px;
  margin-bottom: 14px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(221, 47, 49, 0);
  display: flex;
  transition: all 0.3s;
  color: #777777;
}
.main-content .product .list2 .strengh-item .item-hover .cart .cart-items i {
  padding-left: 8px;
}
.main-content .product .list2 .strengh-item .item-hover .cart .cart-items svg {
  width: 15px;
  margin-left: 10px;
}
.main-content .product .list2 .strengh-item .item-hover .cart .cart-items:hover {
  background-color: #dd2f31;
  color: #ffffff;
}
.main-content .product .list2 .strengh-item .item-hover:hover {
  filter: drop-shadow(0 0 2.5px 2.5 rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.main-content .product .list2 .strengh-item .item-hover:hover .cart {
  display: block;
}
.main-content .product .list2 span {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}
.main-content .product .list2 p {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
}
.main-content .slider {
  text-align: center;
  margin-bottom: 119px;
}
.main-content .slider .img-slider {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.main-content .slider .img-slider img {
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
}
.main-content .slider h2 {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}
.main-content .slider h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.main-content .slider #long_text {
  min-height: 45px;
  font-size: 18px;
  margin: 0 190px;
  color: #777777;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}
.main-content .slider #short_text {
  line-height: 30px;
  font-size: 14px;
  color: #777777;
  font-weight: 400;
  text-align: center;
}
.main-content .end hr {
  margin-top: 102px;
}
.main-content .end .logo {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-content .end .logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 142px;
  height: 88px;
}
.main-content .end .logo div img {
  width: 100%;
}
.footer {
  margin-top: 30px;
  font-family: "Poppins";
}
.footer .head-footer {
  background-color: #222222;
}
.footer .head-footer .child1 {
  text-align: center;
}
.footer .head-footer .child1 .footer__slogan-logo img {
  margin-top: 103px;
}
.footer .head-footer .child1 .footer__slogan-content {
  max-width: 748px;
  color: #777777;
  line-height: 1.714;
  font-size: 14px;
  padding: 25px 0;
  margin: 0 auto;
}
.footer .head-footer .child1 .footer-icon {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer .head-footer .child1 .footer-icon li {
  margin: 14px 15px;
  font-size: 18px;
  padding-left: 14px;
  margin-bottom: 52px;
}
.footer .head-footer .child1 .footer-icon li a {
  color: #777777;
  font-weight: 400;
}
.footer .head-footer .child1 .footer-icon li a:hover {
  color: #a8969652;
}
.footer .head-footer .child1 .footer-icon img {
  margin: 14px 15px;
  font-size: 18px;
  padding-left: 14px;
}
.footer .head-footer .child2 {
  border-top: 1px solid #444444;
}
.footer .head-footer .child2 .row {
  justify-content: space-between;
  margin: 0;
}
.footer .head-footer .child2 .contact,
.footer .head-footer .child2 .account,
.footer .head-footer .child2 .information,
.footer .head-footer .child2 .link {
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.667;
  font-weight: bold;
  width: 23%;
}
.footer .head-footer .child2 .contact .title,
.footer .head-footer .child2 .account .title,
.footer .head-footer .child2 .information .title,
.footer .head-footer .child2 .link .title {
  margin-bottom: 22px;
}
.footer .head-footer .child2 .contact a,
.footer .head-footer .child2 .account a,
.footer .head-footer .child2 .information a,
.footer .head-footer .child2 .link a {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 2.5;
  margin: 14px 0;
}
.footer .head-footer .child2 .contact a:hover,
.footer .head-footer .child2 .account a:hover,
.footer .head-footer .child2 .information a:hover,
.footer .head-footer .child2 .link a:hover {
  color: #a8969652;
}
.footer .head-footer .child2 .contact svg,
.footer .head-footer .child2 .account svg,
.footer .head-footer .child2 .information svg,
.footer .head-footer .child2 .link svg {
  width: 14px;
  margin-right: 11px;
  font-size: 16px;
  color: #777777;
}
.footer .end-footer {
  background-color: #111111;
  min-height: 50px;
  font-size: 14px;
  line-height: 60px;
  color: #777777;
  font-weight: 400;
  text-align: center;
}
@media all and (max-width: 1024px) {
  * {
    box-sizing: border-box;
  }
}
@media all and (max-width: 768px) {
  nav a {
    display: none;
  }
}
@media all and (max-width: 576px) {
  .info .row1,
  .info .row2 {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .info .item1,
  .info .item2,
  .info .item3,
  .info .item4,
  .info .item5,
  .info .item6 {
    width: 50%;
  }
  .menu_mobile {
    display: block;
    max-width: 100px;
  }
  .menu_mobile img {
    width: 100%;
  }
  .background-content-inner p {
    max-width: 400px;
  }
  .slider-content p {
    display: none;
  }
  div {
    flex-wrap: wrap;
  }
  .product .list1 .strengh-item {
    cursor: pointer;
    transition: all 0.25s;
    margin-bottom: 47px;
    text-align: center;
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product .list2 .strengh-item {
    cursor: pointer;
    transition: all 0.25s;
    margin-bottom: 47px;
    text-align: center;
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .head-footer .child2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .head-footer .child2 .row {
    width: 25%;
  }
}
