.main-content{
    position: relative;
    font-family: 'Poppins';
}
.background{
    
    &-item{
       position: relative;bottom: 100px;
       z-index: -1;
        img{
            max-width: 100%;
            width: 100%;
            height: 950px;
        }
    }
    .background-content-inner{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 20%;left: 24%;
        justify-content: space-between;
    }
    .background-text{
        transform: translate(-16%,10%);
        .background-title{
            font-size: 60px;
            color: #ffffff;
            font-weight: 700;
        }
        .background-summary{
          font-size: 40px;
            color: #ffffff;
            font-weight: 700;
        }
        p{
            width: 532px;
            height: 60px;
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 400;

        }
        .slide-btn{
            margin-top: 55px;
            width: 170px;
           height: 50px;
           background-color: rgba(221,47,49,0);
            border: 1px solid #ffffff;
            font-size: 14px;
            line-height: 50px;
            font-weight: 400;
            text-align: center;
        }
    }
}
.info{
   transform: translate(0,-40%);
   p{text-align: center;}
    .item1{
        max-width: 390px;
        width: 100%;
        height: 250px;
        
    }
    .item2{
        max-width: 390px;
        width: 100%;
        height: 250px;
        background-color: @main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item3{
        max-width: 390px;
        width: 100%;
        height: 250px;
        img{
            width: 100%;
        }
    }
    .item4{
        max-width: 390px;
        width: 100%;
        height: 250px;
        background-color: @main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item5{
        max-width: 390px;
        width: 100%;
        height: 250px;
        img{
            width: 100%;
        }
    }
    .item6{
        max-width: 390px;
        width: 100%;
        height: 250px;
        background-color: @main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.product{
  .sellers, .featured, .reviews{
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
   margin-left: 40px;
   cursor: pointer;
   &:active{
    color: #dd2f31;
    border-bottom: 1px solid #dd2f31;;
   }
}
.list1{
    margin-top: 30px;
    margin-bottom: 40px;
    
  .strengh{
      display: flex;
      align-items: center;
 
      &-item{
        cursor: pointer;
        transition: all 0.25s;
        border: 1px solid #ffffff;
        margin-bottom: 47px;
        text-align: center;
          height: 330px;
          .item-hover{
           position: relative; 
           .cart{
             display: flex;
             flex-direction: column;
             position: absolute;
             text-align: center;
             top: 12%;
             right: 7%;
             transform: translate(-10%, -10%);
             z-index: 2;
             transition: all 0.3s;
             .cart-items{
                border: 1px solid #777777;
                width: 34px;
                height: 34px;
                margin-bottom: 14px;
                align-items: center;
                text-align: center;
                border-radius: 10px 0 10px 0;
                display: flex;
                transition: all 0.3s;
                color: #777777;
                &:hover{
                    background-color: #dd2f31;
                    color: #ffffff;
                }
             }  
           }   
            &:hover{
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
                }
          }
        
          .col(25%);
          display: flex;
          flex-direction: column;
          align-items: center;
        .item-img{
            
            img{
                vertical-align: middle;
                width: 230px;
                height: 270px;
            }
        }
       
      }
  }

    span{
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        font-weight:bold
       }
       p{
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        font-weight:normal
       }
   

}
.list2{
    margin-bottom: 120px;
    .strengh{
        display: flex;
        align-items: center;
        
        &-item{
            cursor: pointer;
            transition: all 0.25s;
            border: 1px solid #ffffff;
            margin-bottom: 47px;
            text-align: center;
             height: 330px;
            .item-hover{
            position: relative;
            .cart{
                display: flex;
                flex-direction: column;
                position: absolute;
                text-align: center;
                top: 12%;
                right: 7%;
                transform: translate(-10%, -10%);
                z-index: 2;
                transition: all 0.3s;
                .cart-items{
                   border: 1px solid #777777;
                   width: 35px;
                   height: 35px;
                   margin-bottom: 14px;
                   align-items: center;
                   text-align: center;
                   border-radius: 10px 0 10px 0;
                   display: flex;
                   transition: all 0.3s;
                   color: #777777;
                   &:hover{
                    background-color: #dd2f31;
                    color: #ffffff;
                }
                }  
              }   
              &:hover{
                  border: 1px solid rgba(0, 0, 0, 0.2);
                  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
                  }
            }
            .col(25%);
            display: flex;
            align-items: center;
            flex-direction: column;
            .item-img{
                img{
                    vertical-align: middle;
                    width: 230px;
                    height: 270px;
                }
            }
           
        }
    }
    span{
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        font-weight:bold
       }
       p{
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        font-weight:normal
       }
}
}
.slider{
    transform: translate(30%,0);
    margin-bottom: 90px;
    text-align: center;
        
        .img-slider{
          display: flex;
          justify-content: center;
          align-items: center;
            img{
                border-radius: 100%;
                vertical-align: middle;
                text-align: center;
            }
        }
    
        width: 770px;
        h2{
            font-size: 36px;
            line-height: 30px;
            color: #000000;
            font-weight: 700;
            text-align: center;
        }
        h3{
            font-size: 18px;
            line-height: 30px;
            color: #000000;
            font-weight: 700;
            text-align: center;
        }
        p{
            width: 771px;
            height: 45px;
            font-size: 18px;
            line-height: 30px;
            color: #777777;
            font-weight: 400;
            text-align: center;
        }
        .dot{
            display: flex;
            flex-direction: row;
            margin-left: 360px;
            div{
                margin-right: 10px;
            }
        }
        
    
    
}
.end{
    .logo{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        div{
            width: 110px;
            height: 70px;
            img{
                width: 100%;
            }
        }
    }
}