.footer{
    margin-top: 30px;
    font-family: "Poppins";
    .head-footer{
        height: 870px;
        background-color: #222222;
        .child1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                width: 770px;
                height: 42px;
                font-size: 14px;
                line-height: 24px;
                color: #777777;
                font-weight: 400;
                text-align: center;
                margin-bottom: 50px

            }
            img{
                margin-top: 90px;
                margin-bottom: 40px;
            }
            .footer-icon{
                img{
                    margin-right: 30px;
                }
            }
        }
        .child2{
            .child2-content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 18px;
                line-height: 30px;
                color: #ffffff;
                font-weight: 700;
                margin-top: 70px;
                p{
                    font-size: 14px;
                    color: #777777;
                    font-weight: 400;
                }
                .contact{
                    margin-bottom: 45px;
                    .info1{
                        margin-bottom: 10px;
                        margin-left: 30px;
                        transform: translate(0,-6%);
                    }
                    .contact-icon{
                      margin-top: 10px;
                      transform: translate(70%,0);
                    }
                }
                div{
                    margin-bottom: 45px;
                }
            }
          
        }
    }
    .end-footer{
        height: 50px;
        background-color: #111111;
        text-align: center;
       
            font-size: 14px;
            line-height: 30px;
            color: #777777;
            font-weight: 400;
            text-align: center;
        
    }
}