.header-nav-bar {
    height: 100px;
    background-color: @nav-color;
    z-index: 100;
    font-family: 'Poppins';
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

}
.cover {
    position: fixed;;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    z-index: -1;
}
.cover.active {
    opacity: 0.9;
    z-index: 100;
  
}
