@media all and (max-width: 1170px){}
@media all and (max-width: 1024px){
   .header-nav-bar{
       width: 1200px;
   }
   .background{
       width: 1200px;
   }
       .product{
        width: 1200px;
        .list1{
            padding-right: 200px;
        }
        .list2{
            padding-right: 200px;
        }
    }
    hr{
        width: 1200px;
    }
    .footer{
        width: 1200px;
    }
    .end{
        width: 1200px;
    }
    .info{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 1200px;
    }
}
@media all and (max-width: 768px){
    .header-nav-bar{
        nav{
            a{
                display: none;
            }
            .icon{
                display: none;
            }
        }
    }
    .slider-content{
       text-align: center;
    }
    .info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 1200px;
    }
   
}
@media all and (max-width: 576px){
    .background{
        p{
            display: none;
        }
    }
    .slider-content{
      
        p{
            display: none;
        }
    }
    
    .footer{
        hr{
            display: none;
        }
        .head-footer{
            .child2{
                div{
                    display: none;
                }
            }
        }
    }
}
