@media all and (max-width: 1170px){}
@media all and (max-width: 1024px){
    .info{
        display: none;
    }
    .product{
        .list1{
            padding-right: 200px;
        }
        .list2{
            padding-right: 200px;
        }
    }
}
@media all and (max-width: 768px){
    .nav-moblie{
       display: block;
    }
    .girl{
        display: none;
    }
    .header-nav-bar{
        nav{
            a{
                display: none;
            }
            .icon{
                display: none;
            }
        }
    }
    .slider-content{
        transform: translate(-28%,0);
    }
    .list2{
        transform: translate(50%,-460%);
        height: 300px;
    }
}
@media all and (max-width: 576px){
    .nav-moblie{
        display: block;
        position: absolute;
    }
    .background{
        p{
            display: none;
        }
    }
    .slider-content{
        transform: translate(-40%,0);
        p{
            display: none;
        }
    }
    .footer{
        hr{
            display: none;
        }
        .head-footer{
            .child2{
                div{
                    display: none;
                }
            }
        }
    }
}
